
<p><b>{{detailDuResultat.0.gpnom }}({{formatDate detailGP.0.gpdate 'DD/MM/YYYY'}})</b></p>
<table class="resultats">
    <tr>
        <th>
            <p>Place</p>
        </th>
        <th>
            <p>Pilote</p>
        </th>
        <th>
            <p>Temps</p>
        </th>
        <th>
            <p>Nb points</p>
        </th>
    </tr>
    {{#each detailDuResultat}}
        <tr>
            <td>
                <p>{{this.ptplace}}</p>
            </td>

            <td>
                <p>{{this.pilnom}} {{this.pilprenom}}</p>
            </td>

            <td>
                <p>{{this.tempscourse}}</p>
            </td>

            <td>
                <p>{{this.ptnbpointsplace}}</p>
            </td>
        </tr>
    {{/each}}
</table>
<p>{{detailDuResultat.0.gpcommentaire}}</p>
<br class="myboth"/>