<p align="center"><u>DERNIERS RESULTATS</u></p>

<p align="center" ><b>{{derniersResultats.gpnom}} du {{derniersResultats.daydate}}/{{derniersResultats.monthdate}}/{{derniersResultats.yeardate}}</b></p>
    <p align="center">Mise à jour le : {{derniersResultats.daymaj}}/{{derniersResultats.monthmaj}}/{{derniersResultats.yearmaj}}</p>
    <p align="center"><a href="/resultats" >Voir les résultats</a></p>
